.main {
    display: grid;
    grid-template-areas:    't t'
                            'f v';

    justify-content: space-around;

    .title {
        grid-area: t;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .variables, form {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        flex-grow: 0;
    }

    form {
        grid-area: f;
        display: flex;
        flex-direction: row;
        gap: 5px;

        .buttons {
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 1.66em;
            margin-top: 10px;
        }
    }

    .variables {
        grid-area: v;
    }
}