<div class="main">
    <h1 class='title'>test</h1>
    <form [formGroup]="form">
        <div class="inputs">
          <ng-template #dynamic></ng-template>
        </div>
        <div class="buttons">
          <button 
            mat-mini-fab
            color="warn"
            *ngFor="let _ of fields; index as i"
            (click)="removeComponentByIndex(i)"
          ><mat-icon>delete</mat-icon>
          </button>
        </div>
    </form>
    <div class="variables">
      <pre>{{ jsonForm | json }}</pre>
      <button mat-flat-button color='warn' (click)="addComponent()">
        Add Component
      </button>
    </div>
</div>